 body{
background-color: #fff;
color: black;
line-height: 1.6;
  margin: 0;
    padding: 0;
}

main{
background-color: white;
    
    margin: 0 0;

}

h1{
    color: black;
    text-align: center;
}

h2{
    color: black;
    text-align: center;
        font-size: 200%;

}

h3{
    color: black;
    text-align: center;
    font-size: 150%;
}

header{
    background-color: rgb(14, 112, 43);
    color: #fff;
    text-align: center;
    position: relative;
    padding: 1.5rem;
 
}

p{
    text-align: center;
    margin-left: 20%;
    margin-right: 5%;


}

li{

      text-align: center;
    list-style: none;



}

footer{
    background-color: rgb(14, 112, 43);
    padding: 10px;
    color: #fff;
    bottom: 0;
 }

 ul{
    display: flex;
 }

 .normal ul{
    display: block;
 }